.a01{
    font-size: 25px;

}
.b02{
    width: 500px;
    height: 30px;
    font-size: larger;
    border-radius: 3px;
    color: black;
    border:1px solid gray;
}
.b02:focus{
    background-color: yellow;
    color: red;
    box-shadow: 0 0 5px red;
    border: 1px solid yellow;
}
.b03{
    width: 500px;
    height: 80px;
    color: black;
    border-radius: 15px;
    border:1px solid gray;
}
.b03:focus{
    background-color: yellow;
    color: red;
    box-shadow: 0 0 5px red;
    border: 1px solid yellow;
}

.c04{
    font-size: 20px;
    margin: 5px;
}
.d05{
    font-size: 25px;
}
.e00{
    width: 120px;
    font-size: 25px;
    margin: 5px;
    border-radius: 15px;
}
.e00:hover{
    background-color:white;
    color:red;
    box-shadow: inset 0 0 20px aqua ;
}
body{
    width: 35%;
    font-weight: bold;
}